@import '_variables';
@import '~bootstrap/scss/bootstrap';
@import '_fontawesome';
@import 'partials/all';

.img-wrapper .btn-delete-image {
	cursor: pointer;
	z-index: 1000;
	top: 0;
	right: 0;
	position: absolute;
	background: $danger;
	color: white;
	padding: .1rem .6rem;
	font-weight: bolder;
	border-top-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
	opacity: .7;
}

.img-wrapper .btn-delete-image:hover {
	opacity: 1;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.clickable-link {
	-webkit-user-select: none;
}

.loading-page {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .3);
	z-index: 999;

	.spinner-border {
		width: 3rem;
		height: 3rem;
		position: relative;
		top: 50%;
		left: 60%;
	}

	@include media-breakpoint-down(sm) {
		.spinner-border {
			left: 50%;
			width: 1rem;
			height: 1rem;
		}
	}
}