@font-face {
  font-family: 'custom';
  src:  url('/fonts/icons/custom.eot');
  src:  url('/fonts/icons/custom.eot') format('embedded-opentype'),
    url('/fonts/icons/custom.ttf') format('truetype'),
    url('/fonts/icons/custom.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.custom-icon {
  font-family: 'custom' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uniform-rotate:before {
  content: "\1f311";
}