.sidebar-attachs {
	z-index: 1000;
	position: fixed;
	right: -240px;
	background-color: $white;
	height: 100%;
	width: 230px;
	max-width: 230px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	transition: right .25s;

	&.active {
		right: 0px;
	}

	.sidebar-attachs-title {
		padding: .5rem .25rem;
		text-align: center;
		font-weight: bold;
		color: $white;
		background-color: $primary
	}

	.sidebar-attach-item {
		padding: .75rem .5rem;

		&:hover {
			cursor: pointer;
		}

		&:focus {
			outline: none;
		}

		.attach-item-image {
			max-height: 40px;
		}

		.attach-item-label {
			font-weight: bold;
			color: $primary;
			font-size: .9rem;
		}

		.attach-item-name {
			line-height: 1.2;
			color: rgba(0, 0, 0, .3);
			white-space: break-word;
			font-size: .8rem;
		}
	}
}