.sidebar-attachs {
	z-index: 1000;
	position: fixed;
	right: -210px;
	background-color: $white;
	height: 100%;
	width: 200px;
	max-width: 200px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	transition: right .25s;

	&.active {
		right: 0px;
	}

	.sidebar-attachs-title {
		padding: .5rem .25rem;
		text-align: center;
		font-weight: bold;
		color: $white;
		background-color: $primary
	}

	.sidebar-attach-item {
		padding: .5rem .25rem;
		border-bottom: 1px solid rgba(0, 0, 0, .2);

		&:last-child {
			border: none !important;
		}

		&:hover {
			background-color: rgba($secondary, .1);
			cursor: pointer;
		}

		.image-label {
			line-height: 1.2;
		}
	}

	.sidebar-attachs-content {
	}
}