.uniform-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100vw;

	.uniform {
		position: relative;
		margin-top: 4.5rem;
		width: $uniform-width;

		.uniform-wrapper-attachs {
			position: absolute;
			z-index: 120;
			width: $torso-width;
			height: $torso-heigth;

			&.uniform-mask-front {
				-webkit-mask-image: url('/images/uniform-simulator/front-base-no-neck.svg');
				mask-image: url('/images/uniform-simulator/front-base-no-neck.svg');
			}

			&.uniform-mask-back {
				-webkit-mask-image: url('/images/uniform-simulator/back-base-no-neck.svg');
				mask-image: url('/images/uniform-simulator/back-base-no-neck.svg');
			}
		}

		.uniform-attach {
			z-index: 110 !important;
		}


		.back, .front {
			position: relative;
		}

		.drag-and-resize {
			z-index: 110 !important;
		}
	}

	.uniform-front {
		/**
		* Todo elemento que possuir o prefixo "front-" 
		* e for filho de '.uniform-front' é um elemento da camisa
		* ou anexo a ela.
		*/
		[class^="front-"] {
			position: absolute;
			pointer-events: none;
		}

		.front-base { z-index: 100 }
		.front-mask { z-index: 150 }
		.front-neck-base { z-index: 110 }
		.front-brand, .front-shield, .front-number { z-index: 110 }

		.front-base svg,
		.front-mask img { 
			height: $torso-heigth;
			width: $torso-width;
		}

		.front-brand {
			width: 60px;
		    top: 80px;
		    left: 75px;

			.brand-svg { fill: #fff }
		}

		.front-shield {
		    width: 30px;
		    right: 85px;
		    top: 80px;
		}

		.front-number {
			color: $white;
	        top: 70px;
		    right: 90px;
		    font-size: 2.2rem;
		}
	}

	.uniform-back {
		/**
		* Todo elemento que possuir o prefixo "back-" 
		* e for filho de '.uniform-back' é um elemento da camisa
		* ou anexo a ela.
		*/
		[class^="back-"] {
			position: absolute;
			pointer-events: none;
		}

		.back-base { z-index: 100 }
		.back-mask { z-index: 150 }
		.back-neck-base { z-index: 110 }
		.back-number, .back-name { z-index: 110 } 

		.back-base svg,
		.back-mask img { 
			height: $torso-heigth;
			width: $torso-width;
		}

		.back-number {
			width: 100%;
			color: $white;
			text-align: center;
		}

		.back-name {
			width: 180px;
			left: 62px;
			overflow: hidden;
			color: $white;
			text-align: center;
			white-space: nowrap;
		}
	}
}

.uniform-rotate-icon i {
	color: $dark; 
	opacity: .5;
	position: absolute;
	right: -100px;
	top: 150px;
	transition-property: opacity, transform;
	transition-duration: .25s;
	font-size: 2.3rem; 

	&:hover {
		cursor: pointer;
		opacity: .85;
		transform: scale(1.1);
	}
}