.uniform-container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100vw;

	.uniform {
		position: relative;
		margin-top: 4.5rem;
		width: $uniform-width;

		.torso {
			position: relative;
		}
	}

	.uniform .torso {
		.back-base, .back-mask, .number, .name {
			position: absolute;
		}

		.back-base { z-index: 100 }
		.back-mask { z-index: 150 }
		.number, .name { z-index: 110 } 

		.back-base svg,
		.back-mask img { 
			height: $torso-heigth;
			width: $torso-width;
		}

		.number {
			width: 100%;
			color: $white;
			font-size: 4.4rem;
			font-weight: bolder;
			top: 35px;
			text-align: center;
		}

		.name {
			font-size: 1.15rem;
			width: 100%;
			color: $white;
			font-weight: bolder;
			top: 35px;
			text-align: center;
		}
	}
}

.uniform-rotate-icon i {
	color: $dark; 
	opacity: .5;
	position: absolute;
	right: -100px;
	top: 150px;
	transition-property: opacity, transform;
	transition-duration: .25s;
	font-size: 2.3rem; 

	&:hover {
		cursor: pointer;
		opacity: .85;
		transform: scale(1.1);
	}
}