@import 'dropdown';
@import 'fonts';
@import 'hamburger';
@import 'icons';
@import 'navbar';
@import 'sidebar';
@import 'sidebar-attachs';
@import 'uniform';

html, body {
	height: 100%;
}

@for $i from 1 through 3 {
	.border-#{$i} {
		border-width: #{$i}px !important;
	}
}

.vue-swatches__container:not(.vue-swatches--inline) {
	border-radius: .075rem;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

.md-form-control {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid $secondary;
	background-color: #f5f5f5;
	transition: background-color .15s;

	&:hover {
		background-color: #ededed;
	}

	&:focus {
		box-shadow: none;
		border-bottom: 2px solid $blue;
	}
}

.animate__evenFaster {
	--animate-duration: .1s;
}

.vueperslides__arrow {
	outline: none !important;
}

.font-selector-slides {
	.vueperslides__fractions {
		color: rgba(0, 0, 0, .45) !important;
		border: none !important;
		top: 0 !important;
		left: 0 !important;
		bottom: 0;
		font-size: .8rem;
	}
}

.font-selector {
	font-size: 2.5rem;
}

.text-wrap {
	word-wrap: break-word;
}