.wrapper-app {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.wrapper-app #content {
	width: 100%;
	min-height: 100vh;
}

a {
	text-decoration: none !important;
}

.clickable {
	color: $primary;

	&:hover {
		cursor: pointer;
		color: darken($primary, 15%)
	}
}

input[disabled="disabled"] {
	cursor: not-allowed;
}

.loading-page {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .3);
	z-index: 999;

	.spinner-border {
		width: 3rem;
		height: 3rem;
		position: relative;
		top: 35%;
		left: 45%;
	}

	@include media-breakpoint-down(sm) {
		.spinner-border {
			left: 50%;
			width: 1rem;
			height: 1rem;
		}
	}
}

.img-wrapper .btn-delete-image {
	cursor: pointer;
	z-index: 1000;
	top: 0;
	right: 0;
	position: absolute;
	background: $danger;
	color: white;
	padding: .1rem .6rem;
	font-weight: bolder;
	border-top-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
	opacity: .7;
}

.img-wrapper .btn-delete-image:hover {
	opacity: 1;
}

.first-upper-case:first-letter {
	text-transform: uppercase;
}

.loading {
  position: absolute;
  z-index: 2000;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .3);

  [class*="spinner"] {
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	margin: auto;
  }
}