.sidebar {
	color: #fff;
	display: block;
	position: relative;
	min-height: 100vh;
	min-width: $sidebar-width;
	max-width: $sidebar-width;
	margin-left: -($sidebar-width);
	transition: all .25s;	
	overflow: auto;	
	z-index: 1000;
	
	.header {
		text-align: center;
	}

	&.is-active {
		margin-left: 0;
		order: 1;
	}

	ul {
		font-size: .95rem;
		
		li.active {
			background-color: rgba(black, .3);
			font-weight: 600;
		}

		li a {
			color: $white;
			padding: .5rem 1rem .5rem 2rem;
			display: block;
			margin: 0;
			font-size: .95rem;
			letter-spacing: 1px;

			&:hover {
				background-color: rgba(black, .15);
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.sidebar {
		position: absolute;
		background-color: rgba(0, 0, 0, .95);
		z-index: 1100;
		min-width: 100%;
		max-width: 100%;
		margin-left: -100%;
	}
}

.accordion-sidebar {

	ul > li > ul  a:before {
		content: '';
		margin-left: 1rem;
	}
	
	.list-title-item {
		font-weight: 600;
		letter-spacing: 1px;
	}

	.collapse-sb-item {
		padding: .9rem;
		cursor: pointer;
	}

	.collapse-sb-item:hover {
		background-color: rgba(black, .3);
	}
	
	.collapse-sb-item:not(.collapsed) .icon, 
	.collapse-sb-item.collapsed .icon {
		transform: rotate(0);
		transition: transform .1s;
	}

	.collapse-sb-item:not(.collapsed) .icon {
		transform: rotate(-180deg);
	}
}

.sidebar:not(.is-active) .icon::before {
	color: inherit;
	background-color: red;
	border-radius: 75% 0 0 0;
	padding-top: .2rem;
	padding-left: .2rem;
	right: 5px;
	bottom: -3px;
	font-size: .8rem;
}

.sidebar:not(.is-active) .icon.user-chield::before {
	content: "\f505";
}

.sidebar:not(.is-active) .icon.user::before {
	content: "\f007";
}
