.sidebar {
	color: #fff;
	display: block;
	position: relative;
	height: 100%;
	min-width: $sidebar-width;
	max-width: $sidebar-width;
	margin-left: -($sidebar-width);
	transition: all .25s;	
	overflow: auto;	
	z-index: 1000;
	
	.header {
		text-align: center;
	}

	&.is-active {
		margin-left: 0;
		order: 1;
	}

	ul {
		font-size: .95rem;
		
		li.active {
			background-color: rgba(black, .3);
			font-weight: 600;
		}

		li a {
			color: $white;
			padding: .5rem 1rem .5rem 2rem;
			display: block;
			margin: 0;
			font-size: .95rem;
			letter-spacing: 1px;

			&:hover {
				background-color: rgba(black, .15);
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.sidebar {
		position: fixed;
		background-color: rgba(0, 0, 0, .95);
		z-index: 1020;
		min-width: 100%;
		max-width: 100%;
		margin-left: -100%;
		overflow: hidden;
	}
}

.accordion-sidebar {

	ul > li > ul  a:before {
		content: '';
		margin-left: 1rem;
	}
	
	.list-title-item {
		font-weight: 600;
		letter-spacing: 1px;
	}

	.collapse-sb-item {
		padding: .9rem;
		cursor: pointer;
	}

	.collapse-sb-item:hover {
		background-color: rgba(black, .3);
	}
}
