.multiselect {
  &.is-invalid .multiselect__tags {
    border-color: $red;
  }

  .multiselect__tags {
      border-color: lighten($secondary, 35%);
      border-radius: $input-border-radius;
      min-height: 30px;
  }

  .multiselect__placeholder {
    color: $secondary;
    padding-top: 0;
  }

  .multiselect__input {
    padding: 0;
    font-size: 14px;
  }
  .multiselect__single {
    padding: 0;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 2px;
  }

  .multiselect__placeholder,
  .multiselect__input {
    margin-top: 2px;
    margin-left: 2px;
  }

  .multiselect__select {
    height: 42px;
    transition: transform .15s ease;
  }

  .multiselect__option--highlight {
    background-color: $green;

    &::after {
      background-color: $green;
    }
  }
  .multiselect__option--selected {
    background-color: rgba(0, 0, 0, .1);

    &.multiselect__option--highlight {
      background-color: $red;

      &::after {
        background-color: $red;
      }
    }
  }

  .multiselect__content-wrapper {
    border-color: lighten($secondary, 25%);
  }
}
