@import "_sidebar";
@import "_general";
@import "_hamburger";
@import "_cards";
@import "_swal";
@import "_tables";
@import "vue-multiselect";

.text-success-darker {
	color: #16944b
}

.btn-block + .btn-block {
    margin-top: 0 !important;
}

.list-group.list-group-sm {
    li {
        padding: .35rem .85rem;
        font-size: .8rem;
    }
}

.orders small {
    font-size: .8rem;
}

.minus-value:before {
    content: '- '
}

.horizontal-line {
   width: 100%; 
   border-bottom: 1px solid rgba(0, 0, 0, .2); 
   line-height: 0.1em;
   margin: 10px 0 20px; 

   span {
        background:#fff; 
        padding: 0 10px; 
   }
} 

.dropdown-hover:hover +  .dropdown-menu {
    display: block;
}

@each $name, $color in $theme-colors {
    .bg-#{$name}-lighter {
        background-color: lighten($color, 35%);
    }
}

.table-prevent-style {
    &.table td, &.table th {
        border-color: #dee2e6; 
        border-top: 1px solid #dee2e6 !important;
    }
}

.dropdown-menu.dropdown-shadowed {
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}